<html>
<head><title>Graph for {{pretty}}</title></head>
<script src="/js/flot/jquery.min.js"></script>
<script src="/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript">
    $(function() {
        var plots = {{{plots}}};

		function doPlot() {
            /*
			$.plot("#placeholder", plots, {
				xaxes: [ { mode: "time" } ],
				yaxes: [ { min: 0 }, {
					// align if we are to the right
					alignTicksWithAxis: 1,
					position: "right",
				} ],
				legend: { position: "sw" }
			});
            */
            $.plot("#placeholder", plots);
		}

		doPlot();
    });
</script>
<body>
    <div id="header">
        <h2>Graph for {{pretty}}</h2>
    </div>
    <div id="content">
        <div class="graph-container" style="width: 850px; height: 450px;">
            <div id="placeholder" class="graph-placeholder" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</body>
</html>