<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Climate Dashboard</title>
    </head>
    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Climate Dashboard</a>
            <!--
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
            -->
        </nav>
              
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky" style="overflow: scroll; height: 100%; max-height: 720px;">
                        <ul class="nav flex-column">
                            {{#dates}}
                            <li class="nav-item">
                                <a href="javascript:fetchAndPlot('{{plot_uri}}');" class="nav-link date" data-plot-uri="{{plot_uri}}" data-raw-uri="{{uri}}">
                                    {{pretty}}
                                </a>
                            </li>
                            {{/dates}}
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2" id="view-title">Dashboard</h1>
                        <div class="mr-2 plots-container">
                            <form>
                                <div class="form-group" id="plots"></div>
                            </form>
                        </div>
                    </div>
                    <div class="graph-container" style="width: 100%; height: 100%; max-height: 1080px;">
                        <div id="placeholder" class="graph-placeholder" style="width: 100%; height: 100%;"></div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/js/flot/jquery.min.js"></script>
        <script src="/js/flot/jquery.flot.min.js"></script>
        <script src="/js/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript">
            var raw_plots = [{"label" : "placeholder", "data" : [[0,0], [1,1]]}];
            var filtered_plots = raw_plots;

            var params = {{{params}}};

            var autoplot = "{{{autoplot}}}";

            function buildParams()
            {
                var selectors = $("#plots");
                $(".plot-select-div").remove();
                $.each(params, function(i, param) {
                    var checked = param[2] ? " checked" : "";
                    selectors.append('<div class="form-check form-check-inline plot-select-div"><input type="checkbox" class="form-check-input plot-select" id="plot-select-' + param[0] + '"' + checked + ' data-param="' + param[0] + '" onChange="replot()"><label class="form-check-label" for="plot-select' + param[0] + '">' + param[1] + '</label></div>');
                });
            }

            function updateParams()
            {
                filtered_plots = [];

                function addPlot(param)
                {
                    for (var i = 0; i < raw_plots.length; ++i)
                    {
                        if (raw_plots[i].param == param && raw_plots[i].data.length > 0)
                        {
                            filtered_plots.push(raw_plots[i]);
                        }
                    }
                }

                $(".plot-select").each(function(i, input) {
                    if (input.checked)
                    {
                        addPlot(input.attributes["data-param"].value);
                    }
                });
            }

    		function doPlot(plots)
            {
                $.plot("#placeholder", plots, {
                    xaxis : { mode: "time", }
                });
    		}

            function replot()
            {
                updateParams();
                doPlot(filtered_plots);
            }

            function fetchAndPlot(uri)
            {
                if (uri == undefined)
                {
                    uri = autoplot;
                }

                $.ajax(uri).done(function(data) {
                    $("#view-title").html(data.pretty);
                    raw_plots = data.raw_plots;
                    params = data.raw_params;
                    autoplot = uri;
                    replot();
                });
            }

            // Initial plot
            buildParams();
            fetchAndPlot(autoplot);

            // Refresh every 30 seconds
            setInterval(fetchAndPlot, 15000);
        </script>
    </body>
</html>
